### converting text date to date format

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [24]:
data=pd.read_excel('average-monthly-electricity-gas-prices-in-great-britain-2015-2022.xlsx',sheet_name="Data")
print(data)

       Date  Gas (in British pence per therm)  \
0   Sep '15                             41.04
1   Oct '15                             39.56
2   Nov '15                             35.90
3   Dec '15                             34.03
4   Jan '16                             32.05
..      ...                               ...
74  Nov '21                            201.09
75  Dec '21                            270.96
76  Jan '22                            203.75
77  Feb '22                            187.77
78  Mar '22                            313.57

    electricity (in British pounds per megawatt hour)
0                                               42.04
1                                               40.29
2                                               38.01
3                                               35.07
4                                               36.95
..                                                ...
74                                             209.55
75                                             262.52
76                                             206.88
77                                             166.93
78                                             263.79

[79 rows x 3 columns]

In [25]:
data.columns

Index(['Date', 'Gas (in British pence per therm)',
       'electricity (in British pounds per megawatt hour)'],
      dtype='object')

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 3 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date                                               79 non-null     object
 1   Gas (in British pence per therm)                   79 non-null     float64
 2   electricity (in British pounds per megawatt hour)  79 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.0+ KB

In [27]:
d1=data['Date'].str.split("'",expand=True)

In [28]:
d2=d1[0]+d1[1]
data['date']=d2
data.head()

,Date,Gas (in British pence per therm),electricity (in British pounds per megawatt hour),date
0,Sep '15,41.04,42.04,Sep 15
1,Oct '15,39.56,40.29,Oct 15
2,Nov '15,35.90,38.01,Nov 15
3,Dec '15,34.03,35.07,Dec 15
4,Jan '16,32.05,36.95,Jan 16

In [22]:
data.to_csv('electriciy_gas.csv')